//Paleta de COlores
$navBar-text: #989797;
$button-sesion: #ffffff;
$hover-sesion: #454545;
$button-registre: #4CA866;
$hover-registre: #9dcfab;
$box-row:#e4572E;
$bow-yellow:#f1DD7B;
$box-blue:#5fa5ea;
$text-articule: #a2a2a2;
$button-hover: #000000;

//tipografia
$primary-font:"PT Mono", sans-serif;
$secundary-font:"Roboto", sans-serif;
$primary-size: 70px;
$secundary-size: 40px;
$third-size: 30px;
$four-size: 18px;
$fifth-size: 16px;
